<form method="post" asp-action="Generate">
  <div class="form-group">
    <input type="text" class="form-control" name="gitHubUserName" placeholder="Enter GitHub username">
  </div>

  <button type="submit" class="btn btn-primary mt-3">Generate</button>
</form>